@import "tailwindcss";

@font-face {
  font-family: Fredoka;
  src: url(../src/assets/fonts/Fredoka-Regular.ttf);
}

@theme {
  --font-fredoka: Fredoka, "sans-serif";
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #221a2f;
}

.red {
  color: #fb6376;
}

.glow {
  color: #ffe3a2;
}

.white {
  color: #ffffff;
}